<!DOCTYPE html>

<html lang="en">

  <head>

      <!-- analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114451971-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114451971-1');
      </script>
      
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>ChainStamp</title>
      <meta name="description" content="The Blockchain Timestamp Solution - Create an unforgeable proof of existence timestamp for any digital file with Chainstamp">
      <meta name="keywords" content="Chainstamp, Blockchain Timestamp, proof of existence timestamp, Chainstamp Timestamp, Chainstamp proof of existence">
      <meta name="author" content="">

      <link rel="icon" href="images/favicon.ico">

      <!-- Bootstrap v4.0.0-alpha.6 core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS styles-->
      <link href="css/global.css" rel="stylesheet">

      <!-- Fontss-->
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

      <!-- VUE -->
      <script src="js/vue2.5.16.min.js"></script>

      <style type="text/css">
        /* initial state */
        #pricing{
          display: none;
        }

        #payment-method {
          display: none;
        }

        #status-area-pending {
          display: none;
        }

        #status-area-success {
          display: none;
        }

        #status-area-not-found {
          display: none;
        }

        #status-area-verified {
          display: none;
        }

        .section {
          transform: scale(.9);
        }

      </style>
  </head>

  <body>

    <header class="header jumbotron bg-dark-blue">
      <nav class="container navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="index.html">
          <img id="logo" src="images/logo.svg" alt="ChainStamp logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarChainstamp" aria-controls="navbarChainstamp" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarChainstamp" style="">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create.html">CREATE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/verify.html">VERIFY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.chainstamp.io" target="_blank">DEVELOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:contact@chainstamp.io" >CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq.html">FAQ</a>
            </li>
          </ul>

        </div>
      </nav>
    </header>

  <div class="container-fluid" id="verify_top" style="background:#f4f4f4">

    <!-- FILE DROP -->
    <section id="dropfile" class="jumbotron">
      <div class="container">

        <h4>
          VERIFY A CHAINSTAMP PROOF
        </h4>

        <input type="file" id="fileInput" style="display:none" single />

        <div id="dropfile-box" class="row" ondrop="drag_drop(event)" ondragover="allowDrop(event);" onclick="singleInput();" ondragleave="clearDrop(event);">
          <div class="col-12">
            <img id="dropfile-box-icon" src="images/icon-dropfile.svg" alt="icon">
            <div id="dropfile-box-txt" v-if="filesAdded==0">
              Drop your file here<br>
            (or click to browse and select)
            </div>
            <div v-cloak v-else id="dropfile-box-txt" >
              Ready to Verify: {{fileName}}
            </div>
          </div>

        </div><!--dropfile-box-->

        <button id="dropfile-box-btn" type="button" v-on:click="verifySubmit" class="btn-yellow btn-yellow-pricing btn btn-lg btn-block btn-outline-primary dark-blue dark-blue-border-color">Submit</button>

      </div>
    </section>

    <!--STATUS CONFIRMED -->
    <section id="status-area-verified" class="status-area jumbotron">
      <div class="container">

        <div class="col-12">
            <img class="status-icon" src="images/icon-verifiedblock.svg" alt="icon">
        </div>

        <h2 class="dark-blue txt-bold">
          Verified
        </h2>

        <div class="txt-lg" v-if="verifyStatus">
          Confirmed: Your chainstamp proof is in the blockchain<br>
          Status: Confirmed, {{verifyStatus.confirmations}} Confirmations
        </div>
        <br><br>

        <div class="row">
          <div class="status-data-chainstamp-id-title status-data-chainstamp-info col-12 col-lg-3">
            Chainstamp ID
          </div>
          <div v-if="verifyStatus" class="status-data-chainstamp-id-data status-data-chainstamp-info col-12 col-lg-9 wordwrap txt-number">
            <a href="#" class="dark-blue" data-toggle="tooltip" title data-original-title="Use the transaction link below and search for this text on the page.">{{verifyStatus.seedHash}}</a>
          </div>
          <div class="status-data-transaction-id-title status-data-chainstamp-info col-12 col-lg-3">
            Transaction ID
          </div>
          <div v-if="verifyStatus" class="status-data-chainstamp-id-data status-data-chainstamp-info col-12 col-lg-9 wordwrap txt-number"><a target="new" class="dark-blue" v-bind:href="txLink">{{verifyStatus.txId}}</a></div>
        </div>


        <br><br>
        <div class="txt-normal light-gray txt-lg">
          <span class="dark-blue">Confirmed in block: <a target="new" class="dark-blue" v-bind:href="blockLink" v-if="verifyStatus">{{verifyStatus.blockNumber}}</a></span><br>
          <span class="dark-gray">Timestamp: <span class="txt-number">{{blockTime}}</span> on {{blockDate}} </span>
        </div>
        <br>
        <a v-bind:href="proofLink"><button id="proofButton2" type="button" class="btn-blue btn btn-lg btn-block">Download Proof File</button></a>


        <div class="txt-medium lightest-gray">
          <img class="question-icon" src="images/icon-question.svg" alt="icon"> <a href="faq.html#proofFile" class="link-underline-gray">How to use</a>
        </div>


      </div>
    </section>

    <!--     PENDING     -->
    <section id="status-area-pending" class="status-area jumbotron">
      <div class="container">

        <div class="col-12">
            <img class="status-icon" src="images/icon-pending.svg" alt="icon">
        </div>

        <h2 class="dark-blue txt-bold">
           Pending Blockchain Submission
        </h2>

        <div class="txt-lg">
          Status: Pending, 0 Confirmations
        </div>
        <br><br>
        <div class="status-data-rectangle">
          Expected submission time in: <span class="txt-number">{{expected}}</span>
        </div>
        <br><br>
        <h2 class="dark-blue text-bold">
            Pending Blockchain Submission
        </h2>
        <div v-if="emailToNotify" class="txt-medium lightest-gray info-1">
         We'll send a notification to <span class="link-dark-blue">{{emailToNotify}}</span> when confirmation in the blockchain is done.
        </div>

        <div class="txt-medium lightest-gray info-2">
          This Chainstamp Proof has not been sent as a blockchain transaction yet, check again after the time shown above.
        </div>


      </div>
    </section>
    <!-- END PENDING -->

    <!-- SUCCESS / SUBMITTED -->
    <section id="status-area-success" class="status-area jumbotron">
      <div class="container">

        <div class="col-12">
            <img class="status-icon" src="images/icon-sucess.svg" alt="icon">
        </div>

        <h2 class="dark-blue txt-bold">
           Submitted Transaction
        </h2>

        <div class="txt-lg">
          Status: Submitted, 0 Confirmations
        </div>
        <br><br>

        <div class="row">
          <div class="status-data-chainstamp-id-title status-data-chainstamp-info col-12 col-lg-3">
            Chainstamp ID
          </div>
          <div v-if="openResponse || verifyStatus" class="status-data-chainstamp-id-data status-data-chainstamp-info col-12 col-lg-9 wordwrap txt-number">
             <a href="#" class="dark-blue" data-toggle="tooltip" title data-original-title="Use the transaction link below and search for this text on the page.">{{seedHash}}</a>
          </div>
          <div class="status-data-transaction-id-title status-data-chainstamp-info col-12 col-lg-3">
            Transaction ID
          </div>
          <div v-if="openResponse || verifyStatus" class="status-data-chainstamp-id-data status-data-chainstamp-info col-12 col-lg-9 wordwrap txt-number">
            <a target="new" class="dark-blue" v-bind:href="txLink">{{transactionId}}</a>
          </div>
        </div>
        <br><br>

        <h2 class="dark-blue tx-bold">Transaction Submitted to Network</h2>

        <div v-if="emailToNotify" class="txt-medium lightest-gray info-1">
            We will send a notification to <span class="link-dark-blue">{{emailToNotify}}</span> when confirmation is done.
        </div>


        <a v-bind:href="proofLink"><button id="proofButton1" type="button" class="btn-blue btn btn-lg btn-block">Download Proof File</button></a>


        <div class="txt-medium lightest-gray">
          <img class="question-icon" src="images/icon-question.svg" alt="icon"> <a href="faq.html#proofFile" class="link-underline-gray">How to use</a>
        </div>


      </div>
    </section> 
    <!-- END SUCCESS / SUBMITTED-->


    <!--STATUS NOT FOUND -->
    <section id="status-area-not-found" class="status-area jumbotron">
      <div class="container">

        <div class="col-12">
            <img class="status-icon" src="images/icon-notfound.svg" alt="icon">
        </div>

        <h2 class="dark-blue txt-bold">
          Not Found
        </h2>

        <div class="txt-lg">
          We couldn’t find a chainstamp matching your file
        </div>
        <br><br>

        <div class="row">
          <div class="status-data-chainstamp-id-title status-data-chainstamp-info col-12 col-lg-3">
            File Hash
          </div>
          <div class="status-data-chainstamp-id-data status-data-chainstamp-info col-12 col-lg-9 wordwrap txt-number">{{fileHash}}</div>
        </div>


        <br><br>
        <h5 class="txt-normal medium-gray">
          Make sure the original file was not altered since submission.
        </h5>
        <br>
        <a href="verify.html"><button type="button" class="btn btn-lg btn-dark-blue-outline btn-block btn-outline-primary dark-blue dark-blue-border-color">Try Again</button></a>



      </div>
    </section>


<!-- Modal ERROR-->
    <section>
      <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header modal-header-danger">
                      <h3>{{errorTitle}}</h3>
                  </div>
                  <div class="modal-body">
                      {{errorMessage}}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </section>
    <!-- Modal -->

    <!-- Modal General-->
    <section>
      <div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="generalModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header modal-header-primary bg-success">
                      <h3>{{generalTitle}}</h3>
                  </div>
                  <div class="modal-body">
                      {{generalMessage}}
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </section>
    <!-- Modal -->


  <!--REMEMBER-->
  <section id="remember" class="jumbotron">
    <div class="container">
      <div class="row">

        <div class="col-12">
            <h1 class="text-center">Remember</h1>
        </div>

        <div class="col-12 col-lg-6 box-area-container">
          <div class="box-area">
            <h2>Backup and Protect your files</h2>
            <div class="white">
              In order to verify your chainstamp’s at later date (like 10 years from now), keep a perfect copy of your files.
            </div>
            <div class="light-gray">
              Caution: programs like Microsoft word will alter your files if you just open them, so keep a separate copy or use .pdf format
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 box-area-container">
          <div class="box-area">
            <h2>Files are not sent to us</h2>
            <div class="white">
              This web page processes your files into unique "fingerprints" (digital hashes) without sending their contents to our server.
            </div>
            <div class="white">
              Only this digital fingerprint is shared with us and can be seen by others.
            </div>
          </div>
        </div>

        <div class="col-12 white text-center bottom-text">
          Submission has free and paid options available.
        </div>

      </div>
    </div>
  </section>

  <!--HOW TO -->
  <section id="how-to-chain" class="container">

    <div class="row">
        <div class="col-12">
          <h4>
            HOW TO VERIFY YOUR FILES
          </h4>
        </div>



        <div class="col-12 col-lg-1">
          <img class="how-to-numbers" src="images/howto-number-1.svg" alt="How to step 2">
        </div>
        <div class="col-12 col-lg-5">
          <h2 class="medium-gray">Select a file</h2>
          <div class="txt-medium">
            Using the drag drop area above or by clicking on that, you can select a file that you previously submitted for a Chainstamp Proof.
            <br><br>
            When you are ready click submit button.
          </div>
        </div>
        <div class="col-12 col-lg-6 how-to-img-big">
            <img class="how-to-img-big" src="images/howto-image-2.png" alt="How to image 1">
        </div>


        <div class="divider col-12"></div>


        <div class="col-12 col-lg-1">
          <img class="how-to-numbers" src="images/howto-number-2.svg" alt="How to step 2">
        </div>
        <div class="col-12 col-lg-5">
          <h2 class="medium-gray">Lookup</h2>
          <div class="txt-medium">

            Your files “fingerprint” is computed inside the browser and then that is submitted to us. We will find any matching chainstamp proof in our system.
          </div>
        </div>
        <div class="col-12 col-lg-6 how-to-img-small">
            <img class="how-to-img-small" src="images/img-lookup.png" alt="How to image 1">
        </div>


        <div class="divider col-12"></div>

        <div class="col-12 col-lg-1">
          <img class="how-to-numbers" src="images/howto-number-3.svg" alt="How to step 3">
        </div>
        <div class="col-12 col-lg-5">
          <h2 class="medium-gray">Verification</h2>
          <div class="txt-medium">

            <p>Once we located your chainstamp proof we will provide the details of its status.</p>
            <p>A Chainstamp proof can be in 1 of 3 states: 
              <ul>
                <li>Pending (not submitted as a transaction yet)</li>
                <li>Submitted (submitted but not confirmed in the Blockchain)</li>
                <li>Confirmed (Your proof is part of a block in the Blockchain)</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-6 how-to-img-small">
            <img class="how-to-img-small" src="images/img-verification.png" alt="How to image 3">
        </div>


        <div class="divider col-12"></div>

        <div class="col-12 col-lg-1">
          <img id="how-to-number-4" class="how-to-numbers" src="images/howto-number-4.svg" alt="How to step 4">
        </div>
        <div class="col-12 col-lg-5">
          <h2 class="medium-gray">Download Your Proof File</h2>
          <div class="txt-medium">
            <p>Download your proof file (Submitted or Confirmed status only).</p>
            The chainstamp proof file can be used to verify your timestamped entries in the blockchain independently of our company. It ensures you can always verify your data forever. Read more in our <a href="faq.html#proofFile">faq</a>.

          </div>
        </div>
        <div class="col-12 col-lg-6 how-to-img-small">
            <img id="how-to-img-4" class="how-to-img-small" src="images/howto-image-4.png" alt="How to image 4">
        </div>

      </div> <!--row -->

    </section>

    <!-- Progress Modal -->
     <section>
        <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              
              <div class="modal-body">
                <img src="images/progress2.gif"> <span class="progress-info">{{progressComment}}</span>
              </div>
             
          </div>
        </div>
      </div>
    </section>


  </div><!--verify top -->


    <footer class="footer jumbotron bg-dark-grey">
      <div class="container bg-dark-grey">
        <div class="row">
          <div class="col-12 text-center">
              <a href="#"><img id="logo-footer" src="images/logo-footer.svg" alt="ChainStamp logo"></a>
          </div>
          <div class="col-12 col-md-2 col-lg-3 col-xl-4">
          </div>

          <div id="area-footer-links-one" class="col-12 col-md-8 col-lg-6 col-xl-4 cointainer">
            <div class="row">
              <div class="col-12 col-md-6 text-center">
                <a class="link-gray" href="create.html">CREATE A CHAINSTAMP</a>
              </div>
              <div class="col-12 col-md-6 text-center">
                <a class="link-gray" href="verify.html">VERIFY A CHAINSTAMP</a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-2 col-lg-3 col-xl-4">
          </div>

          <div id="area-footer-links-two" class="col-12 text-center link-dark-gray">
              <a href="terms.html" class="link-dark-gray">TERMS</a>      |     <a href="privacy.html" class="link-dark-gray">PRIVACY</a>      |     <a href="faq.html" class="link-dark-gray">FAQ</a>      |      <a href="mailto:contact@chainstamp.io"   class="link-dark-gray">CONTACT</a>      |      <a class="link-dark-gray" href="https://docs.chainstamp.io" target="_blank">DEVELOP</a>
          </div>

          <div id="area-copyright" class="col-12 text-center link-dark-gray">
            © COPYRIGHT <span style="font-family:arial;">2018</span> CHAINSTAMP LLC
            </div>

        </div>
      </div>
    </footer>


    <!-- Bootstrap v4.0.0-alpha.6 core JS, Placed at the end of the document so the pages load faster -->
   <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/sha256.js"></script>
    <script src="js/shahash.js"></script>
    <script src="js/fileOps.js"></script>
    <script src="js/stampApi.js"></script>
    <script src="js/verify.js"></script>
    <script src="js/helpScout.js"></script>

    <script>
      /* file drop setup */
      //requires fileOps.js
      
      document.getElementById('fileInput').onclick = function (e) {  };
       document.querySelector('input').addEventListener('change', function(){
        console.log("change");
        //fileStack=this.files;
        processFileList(this.files);
      }, false);


    </script>

  </body>

</html>
